<html>
<head>
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
    <script>
        keys = angular.module("keys", []);

        /*
        angular.module("keys", []).
        directive("ngKeydown", function($parse){
                    return function(scope, elm, attrs){
                        cb = $parse(attrs.ngKeydown)(scope);

                        elm.bind("keydown", cb);
                    }
                }).
        directive("ngKeypress", function($parse){
            return function(scope, elm, attrs){
                cb = $parse(attrs.ngKeypress)(scope);

                elm.bind("keypress", cb);
            }
        }).
        directive("ngTextinput", function($parse){
            return function(scope, elm, attrs){
                cb = $parse(attrs.ngTextinput)(scope);

                elm.bind("textinput", cb);
            }
        });
        */

        angular.forEach(['keydown', 'keypress', 'keyup'], function(name) {
            var ngName = 'ng' + name[0].toUpperCase() + name.slice(1);
            keys.directive(ngName, function($parse) {
                return function(scope, element, attrs) {
                    cb = $parse(attrs[ngName])(scope);

                    element.bind(name, cb);
                };
            });
        });


        function Ctrl ($scope){
            $scope.what = function(event){
                event.preventDefault();
            }

        }
    </script>
</head>
<body ng-app="keys" ng-controller="Ctrl">

    keypress:<input type="text" ng-model="A" ng-keypress="what">

    <br>

    keydown:<input type="text" ng-model="B" ng-keydown="what">

    <br>

    textinput:<input type="text" ng-model="C" ng-textinput="what">


</body>

</html>

